<form #form="ngForm"  autocomplete="off" (submit)="onSubmit(form)">
  <div class="form-group">
    <label for="InputEmail">Email</label>
    <input type="email" name="Email" #email="ngModel" [(ngModel)]="Usuario.email" class="form-control"
           placeholder="Email" required maxlength="50">
  </div>

  <div class="form-group">
      <label for="InputPassword">Password</label>
      <input type="password" name="Password" #password="ngModel" [(ngModel)]="Usuario.password" class="form-control"
             placeholder="password" required maxlength="20">
  </div>

  <div class="form-group">
    <button class="btn btn-success btn-lg btn-block" type="submit" [disabled]="form.invalid">Login</button>
  </div>
</form>
