<div class="jumbtron">
  <h1 class="display-4 text-center">Póliza Seguros GAP</h1>
  <hr>
  <div class="row">
    <div class="col-md-5">
      <app-poliza-detail></app-poliza-detail>
    </div>
    <div class="col-md-7">
      <app-poliza-data-list></app-poliza-data-list>
    </div>
  </div>
</div>

