<div class="jumbtron">
  <h1 class="display-4 text-center">Seguros GAP</h1>
  <hr>
  <div class="row">
    <div class="col-md-5">
      <app-login-data></app-login-data>
    </div>
    <div class="col-md-7">
      <div class="info_usuario"> <p>Por motivos de Prueba</p></div>
      <div class="info_usuario"> <p> email: Usuario1@email.com</p></div>
      <div class="info_usuario"> <p> password: 123456</p></div>
    </div>
  </div>
</div>



