<h1>Usuarios</h1>

<p *ngIf="!formData"><em>Loading...</em></p>

<table class='table' *ngIf="formData">
  <thead>
    <tr>
      <th>Usuario</th>
      <th>Email</th>
      <th>Fecha creación</th>
      <th>Fecha modificación</th>     
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let formData of formData">
      <td>{{ formData.usuarioId }}</td>
      <td>{{ formData.email }}</td>
      <td>{{ formData.fechaCreacion }}</td>
      <td>{{ formData.fechaModificacion }}</td>
    </tr>
  </tbody>
</table>

