<div class="jumbtron">
  <h1 class="display-4 text-center">Administración de pólizas y clientes Seguros GAP</h1>
  <hr>
  <div class="row">
    <div class="col-md-5">
      <app-cp-detail></app-cp-detail>
    </div>
    <div class="col-md-7">
      <app-cp-data-list></app-cp-data-list>
    </div>
  </div>
</div>
