<form #form="ngForm" autocomplete="off" (submit)="onSubmit(form)">
  <input type="hidden" name="polizaId" [value]="service.formData.polizaId">

  <div class="form-group">
    <div class="input-group">
      <label for="nombrePoliza">Póliza</label>
      <input name="nombrePoliza" #nombrePoliza="ngModel" [(ngModel)]="service.formData.nombrePoliza" class="form-control"
             placeholder="Póliza" required>
    </div>
  </div>

  <div class="form-group">
    <div class="input-group">
      <label for="descripcion">Descripción</label>
      <input name="descripcion" #descripcion="ngModel" [(ngModel)]="service.formData.descripcion" class="form-control"
             placeholder="Descripción" required>
    </div>
  </div>

  <div class="form-group">
    <div class="input-group">
      <label>Cobertura(s) contra:</label>
      <select multiple class="form-control" name="cboCobertura" id="cboCobertura" required>
        <option *ngFor="let c of service.listCobertura" value="{{c.coberturaId}}" [ngValue]="c.coberturaId">{{c.cobertura}}</option>
      </select>
    </div>
  </div>

  <div class="form-group">
    <div class="input-group">
      <label for="porcentajeCobertura">Porcentaje mensual cobertura</label>
      <input type="number" name="porcentajeCobertura" #porcentajeCobertura="ngModel" [(ngModel)]="service.formData.porcentajeCobertura" class="form-control"
             placeholder="Porcentaje de 1 a 99" required min="0" max="99" step="any">
      <div *ngIf="service.formData.porcentajeCobertura < 0 || service.formData.porcentajeCobertura > 100">
        <p class="input_incorrecto">Porcentaje incorrecto</p>
      </div>
      <div *ngIf="service.formData.porcentajeCobertura > 50 && ngRiesgo == 4">
        <p class="input_incorrecto">Porcentaje incorrecto para tipo de riesgo Alto</p>
      </div>
    </div>
  </div>

  <div class="form-group">
    <div class="input-group">
      <label for="precioMensualDolares">Mensualidad</label>
      <input type="number" name="precioMensualDolares" #precioMensualDolares="ngModel" [(ngModel)]="service.formData.precioMensualDolares" class="form-control"
             placeholder="Precio mensual en dolares" required min="1" step="any">
    </div>
  </div>

  <!--ToDo...Llenar este combo dinamicamente con la tabla Tipo_Riesgo-->
  <div class="form-group">
    <div class="input-group">
      <label>Tipo de Riesgo</label>
      <select class="form-control" id="cboRiesgo" name="cboRiesgo" ng-model="ngRiesgo" required>
        <option value="1" [selected]="service.formData.tipoRiesgoId==1" ng-options="1">Bajo</option>
        <option value="2" [selected]="service.formData.tipoRiesgoId==2" ng-options="2">Medio</option>
        <option value="3" [selected]="service.formData.tipoRiesgoId==3" ng-options="3">Medio-alto</option>
        <option value="4" [selected]="service.formData.tipoRiesgoId==4" ng-options="4">Alto</option>
      </select>
    </div>
  </div>


  <div class="form-group">
    <button class="btn btn-success" type="submit" [disabled]="form.invalid">Enviar</button>
    <button class="btn btn-success" type="reset" (click)="resetForm(frmData)">Limpiar</button>
  </div>
</form>

