
<p *ngIf="!service.listDetalleCP"><em>Loading...</em></p>

<table class='table' *ngIf="service.listDetalleCP">
  <thead>
    <tr>
      <th>Cliente</th>
      <th>Identificación</th>
      <th>Póliza Nom</th>
      <th>Total</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let frmData of service.listDetalleCP">
      <td (click)="cargarForm(frmData)">{{ frmData.nombreCliente }}</td>
      <td (click)="cargarForm(frmData)">{{ frmData.identificacion }}</td>
      <td (click)="cargarForm(frmData)">{{ frmData.nombrePoliza }}</td>
      <td (click)="cargarForm(frmData)">{{ frmData.precioTotalDolares | currency:'USD':'symbol':'1.2-2' }}</td>
      <td>
        <i class="glyphicon glyphicon-trash" (click)="EliminarClientePoliza(frmData.clientePolizaId)"></i>
      </td>
    </tr>
  </tbody>
  <!--<tfoot>
    <tr>Seleciona una póliza para actualizar o ver detalle</tr>
  </tfoot>-->
</table>

