/* You can add global styles to this file, and also import other style files */


input.ng-touched.ng-invalid {
  border-color: #dc3545
}

input.ng-valid {
  border-color: #28a745
}

#toast-container > div {
opacity:1;
}

table tr:hover {
  cursor:pointer;
}

button {
  width: 150px;
}

.info_usuario {
text-align:center;
color:dodgerblue;
}

.input_incorrecto {
  text-align: center;
  color: #dc3545;
}

tfoot {
  text-align: center;
  color: dodgerblue;
}
