<div class="jumbtron">
  <h1 class="display-4 text-center">Cobertura Seguros GAP</h1>
  <hr>
  <div class="row">
    <p *ngIf="!formData"><em>Loading...</em></p>
    <table class='table' *ngIf="formData">
      <thead>
        <tr>
          <th>Cobertura</th>
          <th>Descripción</th>
          <th>Fecha creación</th>
          <th>Fecha modificación</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let formData of formData">
          <td>{{ formData.coberturaId }}</td>
          <td>{{ formData.cobertura }}</td>
          <td>{{ formData.fechaCreacion | date: 'dd/MM/yyyy'}}</td>
          <td>{{ formData.fechaModificacion | date: 'dd/MM/yyyy' }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>






