<form #form="ngForm" autocomplete="off" (submit)="onSubmit(form)">
  <input type="hidden" name="clientePolizaId" [value]="service.formData.clientePolizaId">
  <input type="hidden" name="clienteId" [value]="service.formData.clienteId">
  <input type="hidden" name="inicioVigencia" [value]="service.formData.inicioVigencia">

  <div class="form-group">
    <div class="input-group">
      <label for="cliente">Cliente</label>
      <input name="nombreCliente" #nombreCliente="ngModel" [(ngModel)]="service.formData.nombreCliente" class="form-control"
             placeholder="Cliente"  disabled required>
    </div>
  </div>

  <div class="form-group">
    <div class="input-group">
      <label for="identificacion">Identificación</label>
      <input name="identificacion" #identificacion="ngModel" [(ngModel)]="service.formData.identificacion" class="form-control"
             placeholder="Identificación" required>
    </div>
    <div class="input-group">
      <input type="button" class="btn btn-info" (click)="verificarCliente(service.formData.identificacion)" name="Buscar" value="Buscar"/>
    </div>
    </div>

    <div class="form-group">
      <div class="input-group">
        <label>Póliza</label>
        <select class="form-control" name="cboPoliza" id="cboPoliza" required>
          <option *ngFor="let c of service.listPoliza" value="{{c.polizaId}}" [ngValue]="c.polizaId">{{c.nombrePoliza}}</option>
        </select>
      </div>
    </div>

    <div class="form-group">
      <div class="input-group">
        <label for="vigencia">Inicio vigencia</label>
        <input name="inicioVigencia" #inicioVigencia="ngModel" [(ngModel)]="service.formData.inicioVigencia" type="date" class="form-control" required>
      </div>
    </div>

    <div class="form-group">
      <div class="input-group">
        <label for="coberturaMes">Período cobertura en meses</label>
        <input type="number" name="periodoCobertura" #periodoCobertura="ngModel" [(ngModel)]="service.formData.periodoCobertura" class="form-control"
               placeholder="Periódo cobertura"  min="1" required>
      </div>
    </div>

    <div class="form-group">
      <button class="btn btn-success" type="submit" [disabled]="form.invalid">Asignar</button>
      <button class="btn btn-success" type="reset" (click)="resetForm(frmData)">Limpiar</button>
    </div>
</form>

