
<p *ngIf="!service.list"><em>Loading...</em></p>

<table class='table' *ngIf="service.list">
  <thead>
    <tr>
      <th>Póliza</th>
      <th>Cobertura</th>
      <th>Mensualidad</th>
      <th>Riesgo</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let frmData of service.list">
      <td (click)="cargarForm(frmData)">{{ frmData.nombrePoliza }}</td>
      <td (click)="cargarForm(frmData)">{{ frmData.porcentajeCobertura /100| percent }}</td>
      <td (click)="cargarForm(frmData)">{{ frmData.precioMensualDolares | currency:'USD':'symbol':'1.2-2' }}</td>
      <td (click)="cargarForm(frmData)">{{ frmData.tipoRiesgoId }}</td>
      <td>
        <i class="glyphicon glyphicon-trash" (click)="EliminarPoliza(frmData.polizaId)"></i>
      </td>
    </tr>
  </tbody>
</table>

