<div class='main-nav' id="ulNavigatorGAP">
  <div class='navbar navbar-inverse'>
    <ul class='nav navbar-nav' >
      <li [routerLinkActive]='["link-active"]' [routerLinkActiveOptions]='{ exact: true }'>
        <a [routerLink]='["/"]' (click)='collapse()'>
          <span class='glyphicon glyphicon-home'></span> Login/Logout
        </a>
      </li>
      <!--<li [routerLinkActive]='["link-active"]' id="">
        <a [routerLink]='["/cliente-data"]' (click)='collapse()'>
          <span class='glyphicon glyphicon-education'></span> Clientes
        </a>
      </li>
      <li [routerLinkActive]='["link-active"]'>
        <a [routerLink]='["/fetch-data"]' (click)='collapse()'>
          <span class='glyphicon glyphicon-th-list'></span> Fetch data
        </a>
      </li>-->
      <li [routerLinkActive]='["link-active"]' >
        <a [routerLink]='["/poliza-data"]' (click)='collapse()' id="VPolizas">
          <span class='glyphicon glyphicon-th-list'></span> Polizas
        </a>
      </li>
      <li [routerLinkActive]='["link-active"]' id="VClientePoliza">
        <a [routerLink]='["/cp-data"]' (click)='collapse()'>
          <span class='glyphicon glyphicon-th-list'></span> Cliente/Poliza
        </a>
      </li>
      <li [routerLinkActive]='["link-active"]' id="VCobertura">
        <a [routerLink]='["./cobertura-data"]' (click)='collapse()'>
          <span class='glyphicon glyphicon-th-list'></span>Listado Coberturas
        </a>
      </li>
      <li [routerLinkActive]='["link-active"]' id="VUsuario">
        <a [routerLink]='["./usuario-data"]' (click)='collapse()'>
          <span class='glyphicon glyphicon-th-list'></span>Listado Usuarios
        </a>
      </li>
    </ul>
  </div>
</div>
<!--</div>-->
